Value MAC_ADD ([0-9a-f:\.]+)
Value IP_ADD ([0-9\.]+)
Value NAME (\S+)
Value INTERFACE (\S+)


Start
	^MAC Address.*Flags.*$$ -> ARPTable

ARPTable
	^${MAC_ADD}\s+${IP_ADD}\s+${NAME}\s+${INTERFACE}\s+ -> Record


EOF
